body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

nav {
    display: flex;
    background-color: lightblue;
    box-shadow: 2px 3px 5px grey;
}

.title {
    margin-left: 2rem;
    display: flex;
}

.title h1 {
    margin-left: 1rem;
}

img {
    width: 5%;
    object-fit: contain;
}

.anchors {
    margin-left: 36.3rem;
    margin-top: 1.6rem;
}

a {
    margin-left: 2rem;
    text-decoration: none;
    color: black;
}

main {
    margin-left: 2rem;
}

.active {
    color: blue;
    font-weight: bold;
}

table {
    width: 96%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
}

tr:first-child {
    background-color: #f2f2f2;
}

td a,
a:visited {
    color: hsl(197, 0%, 23%);
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.finish {
    background-color: #41a2a6;
    border: 2px solid #41a2a6;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
}

.finish:hover {
    transition: 0.5s ease;
    background-color: white;
    color: #41a2a6;
}

.finishReal {
    background-color: #34eb43;
    border: 2px solid #34eb43;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.delete {
    border: 2px solid red;
    background-color: red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
}

.delete:hover {
    transition: 0.5s ease;
    background-color: white;
    color: red;
}

.edit {
    border: 2px solid #4287f5;
    background-color: #4287f5;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
}

.edit:hover {
    transition: 0.5s ease;
    background-color: white;
    color: #4287f5;
}

.hinzufuegen {
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color: black;
    margin-top: 0.5rem;
    transition: 0.5s ease;
}

.hinzufuegen:hover {
    transition: 0.5s ease;
    background-color: white;
    color: black;
}
